html, body {
    height: 100%;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}

.page-container {
    border:1px solid blue;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.products {
    border: 1px solid green;
    display: flex;
    height: 50%;
    width: 100%;
    flex-wrap: wrap;
}

.product {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
   margin-left: 10px;
    margin-right: 10px;
}

.product1 {
    background-color: orange;
}

.product2 {
    background-color: lightyellow;
    flex-grow: 2;
}

.product3 {
    background-color: indianred;
}