html, body {
    height: 100%;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
}

.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.products {
    display: flex;
    height: 50%;
    width: 100%;
    border: 1px solid burlywood;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-grow: 1;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.product1 {
    background-color: orange;
}

.product2 {
    background-color: lightyellow;
    flex-grow: 2;
}

.product3 {
    background-color: indianred;
}