body, html {
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid blue;
    text-align: center; /* 3 primer*/
}

.wrapper:before {       /* 3 primer*/
    content: '';    /* 3 primer*/
    display: inline-block;  /* 3 primer*/
    height: 100%;   /* 3 primer*/
    vertical-align: middle; /* 3 primer*/
  }     /* 3 primer*/

.content-to-center {
    display: inline-block;      /* 3 primer*/
    vertical-align: middle;     /* 3 primer*/
    border: 1px solid green;
}

img {
    vertical-align: middle; /* 4 primer */
}

.text-to-center {
}

/* Pocetno stanje - Slika na vrhu */
/* 1 primer - Centriraj sliku */
/* 2 primer - Tekst pored slike */
/* 3 primer - Centriraj bez tabela */
/* 4 primer - Tekst pored slike */

/* .wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid blue;
    text-align: center;           1 primer  
    display: table;        1 primer         
}

.content-to-center {
    display: table-cell;            1 primer
    vertical-align: middle;        1 primer
    border: 1px solid green;
}

img {
    vertical-align: middle;  2 primer
}

.text-to-center {
} */