body, html {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
}

.left-pane {
    border: 1px solid black;
    width: 30%;
}

.pane-container {
    display: flex;
    width: 70%;
}

@media screen and (max-width: 600px) {
    .pane-container {
        flex-flow: column;
    }
}


.middle-pane {
    border: 1px solid yellow;
    height: 50%;
    width: 100%;
}

.right-pane {
    border: 1px solid blue;
    height: 50%;
    width: 100%;
}
